In [ ]:
import pandas as pd

df = pd.read_csv('../data/processed/cleaned_train_set.csv', index_col=0, parse_dates=True)

df.head(5)

,Series1,Series2,Series3,Series4,Series5,Series6
Date,,,,,,
2012-01-01 00:00:00,0.458882,-1.358177,1.893863,1.022005,-1.810638,-0.792524
2012-01-01 00:01:00,0.398794,-1.356111,2.011162,1.104435,-1.807173,-0.726880
2012-01-01 00:02:00,0.480416,-1.354050,2.116713,1.134004,-1.803721,-0.816924
2012-01-01 00:03:00,0.319643,-1.351994,1.987292,0.996250,-1.800283,-1.010524
2012-01-01 00:04:00,0.361104,-1.349943,2.059825,1.041442,-1.796859,-1.010524

In [ ]:
from preprocessing.regression_feature_engineering import RegressionFeatureEngineer

feature_engineer = RegressionFeatureEngineer(df)

df_features = (
    feature_engineer
    .create_lag_features(columns=df.columns, lags=[1, 2, 3])
    .create_rolling_averages(columns=df.columns, windows=[3, 7], stats=['mean', 'std'])
    .create_polynomial_features(columns=df.columns, degree=2)
    .get_engineered_data()
)

df_features.head(10)
df_features.columns

,Series1_lag_1,Series1_lag_2,Series1_lag_3,Series2_lag_1,Series2_lag_2,Series2_lag_3,Series3_lag_1,Series3_lag_2,Series3_lag_3,Series4_lag_1,...,Series3^2,Series3 Series4,Series3 Series5,Series3 Series6,Series4^2,Series4 Series5,Series4 Series6,Series5^2,Series5 Series6,Series6^2
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.586717,1.935538,-3.429101,-1.500932,1.044495,-1.850482,-0.809964,3.278411,1.434975,0.628095
2012-01-01 00:01:00,0.458882,NaN,NaN,-1.358177,NaN,NaN,1.893863,NaN,NaN,1.022005,...,4.044772,2.221198,-3.634517,-1.461873,1.219777,-1.995905,-0.802792,3.265874,1.313598,0.528355
2012-01-01 00:02:00,0.398794,0.458882,NaN,-1.356111,-1.358177,NaN,2.011162,1.893863,NaN,1.104435,...,4.480472,2.400361,-3.817960,-1.729193,1.285966,-2.045428,-0.926395,3.253410,1.473503,0.667365
2012-01-01 00:03:00,0.480416,0.398794,0.458882,-1.354050,-1.356111,-1.358177,2.116713,2.011162,1.893863,1.134004,...,3.949331,1.979840,-3.577689,-2.008207,0.992514,-1.793532,-1.006734,3.241020,1.819229,1.021159
2012-01-01 00:04:00,0.319643,0.480416,0.398794,-1.351994,-1.354050,-1.356111,1.987292,2.116713,2.011162,0.996250,...,4.242879,2.145188,-3.701215,-2.081502,1.084602,-1.871324,-1.052402,3.228702,1.815769,1.021159
2012-01-01 00:05:00,0.361104,0.319643,0.480416,-1.349943,-1.351994,-1.354050,2.059825,1.987292,2.116713,1.041442,...,3.927099,1.981595,-3.560819,-2.125877,0.999903,-1.796771,-1.072707,3.228702,1.927597,1.150812
2012-01-01 00:06:00,0.321572,0.361104,0.319643,-1.347897,-1.349943,-1.351994,1.981691,2.059825,1.987292,0.999951,...,4.343182,2.391031,-3.730519,-1.962584,1.316323,-2.053745,-1.080452,3.204280,1.685736,0.886846
2012-01-01 00:07:00,0.302223,0.321572,0.361104,-1.655395,-1.347897,-1.349943,2.084030,1.981691,2.059825,1.147311,...,4.663391,2.554636,1.745752,-1.946952,1.399446,0.956334,-1.066553,0.653526,-0.728846,0.812846
2012-01-01 00:08:00,0.282828,0.302223,0.321572,-1.652483,-1.655395,-1.347897,2.159489,2.084030,1.981691,1.182982,...,3.830376,2.052189,1.582167,-1.559251,1.099495,0.847673,-0.835395,0.653526,-0.644061,0.634732
2012-01-01 00:09:00,0.222920,0.282828,0.302223,-1.649581,-1.652483,-1.655395,1.957135,2.159489,2.084030,1.048568,...,3.791498,2.041747,1.574117,-1.902455,1.099495,0.847673,-1.024485,0.653526,-0.789842,0.954592